@use "fonts";
* {
  font-family: var(--font-family), sans-serif !important;
  caret-color: #13987f !important; /* 改变输入框光标的颜色 */
}
html,
body,
svg {
  &::selection {
    background: rgba(19, 152, 127, 0.3); /** 输入框选中文本背景色 */
  }
  outline: none;
  overscroll-behavior: none; // 禁止mac的"触底反弹"效果
}

::selection {
  background: rgba(19, 152, 127, 0.3); /** 输入框选中文本背景色 */
}

/* 适用于Firefox */
* {
  scrollbar-width: thin;
  /* 细滚动条 */
  scrollbar-color: var(--text-secondary) transparent;
  /* 滑块颜色和轨道颜色 */
}

.n-modal-mask {
  @include mask-style;
}

.n-drawer-mask {
  @include mask-style(2px);
}

/** 修改naive-ui复选框的样式 */
.n-checkbox .n-checkbox-box {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

/** 修改naive-ui select 组件的样式 */
.n-base-selection,
.n-base-select-menu,
.n-base-select-menu .n-base-select-option::before {
  border-radius: 8px;
  font-size: 12px;
}

.n-base-select-menu .n-base-select-option .n-base-select-option__content {
  margin-left: 4px;
}

/** 修改naive-ui Popselect选中的样式 */
.n-base-select-menu .n-base-select-option.n-base-select-option--selected {
  color: #13987f;
}
.n-base-select-menu .n-base-select-option .n-base-select-option__check {
  color: #13987f;
}

/** 修改默认的naive-ui的选择器样式 */
.n-base-selection {
  --n-box-shadow-active: 0 0 0 2px rgba(19, 152, 127, 0.2) !important;
  --n-border-active: 1px solid #13987f !important;
  --n-border-hover: 1px solid #13987f !important;
}

/* 滚动条整体 */
::-webkit-scrollbar {
  width: 6px; /* 纵向滚动条宽 */
  height: 6px; /* 横向滚动条高 */
}

/* 彻底隐藏上下箭头的“尖尖” */
::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
}

/* 滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  /* 滚动条滑块颜色 - 中性灰色 */
  border-radius: 4px;
  /* 圆角 */
  border: 2px solid transparent;
  /* 边框透明，用于创建间隔效果 */
  background-clip: content-box;
  /* 重要：确保背景只绘制在内容区域 */
}

/*  鼠标悬停滑块 */
::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
  /* 悬停时变亮 */
}

/* 轨道背景 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 隐藏角落 */
::-webkit-scrollbar-corner {
  background: transparent;
}
