/**! 可以根据自己的喜好搭配渐变，网址：https://webgradients.com/ */
.login-box {
  background-color: #d8eee2;
  background-image:
    radial-gradient(closest-side, #30cfd0, rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, #52aea3, rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, #fff1eb, rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, #fed6e3, rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, #a8edea, rgba(248, 192, 147, 0));
  background-size:
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 8s movement linear infinite;
}

[data-theme="dark"] {
  .login-box {
    background-color: #0f2027;
    background-image:
      radial-gradient(closest-side, #2c5a53, rgba(44, 90, 83, 0)),
      radial-gradient(closest-side, #2a4a75, rgba(32, 58, 67, 0)),
      radial-gradient(closest-side, #5a3d5c80, rgba(44, 62, 80, 0)),
      radial-gradient(closest-side, #164a41, rgba(22, 74, 65, 0)),
      radial-gradient(closest-side, #203a43, rgba(77, 105, 110, 0));
  }
}
