{
  "singleQuote": false,
  "semi": true,
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-attributes"],
  "attributeGroups": ["$FOR", "$IF", "$DEFAULT", "$CLASS", "$STYLE", "^v-model", "^:", "^@", "$REF"]
}
