@use "@/styles/global/variable.scss" as *;

.bottom-item-left {
  @include menu-item-style(absolute);
  @include menu-list();
}

.bottom-item-right {
  @include menu-item-style(absolute);
  @include menu-list();
}

.active {
  background: var(--left-item-bg-color);
  border-radius: 8px;
  color: var(--left-active-text-color);
}
